main {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

section.info-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50vw;
}

section.cv-preview {
  width: 50vw;
}

div.cv {
  /* width: 80%;
  height: 100%; */
  min-width: 820px;
  padding: 10px;
  margin: 20px;
  box-shadow: 0px 3px 10px rgb(133, 133, 133);
  font-family: "Times New Roman", Times, serif;
}

h1.fullName {
  font-size: 3rem;
  text-align: center;
}
div.contact {
  display: flex;
  gap: 15px;
  justify-content: center;

  font-style: italic;
  font-size: 0.8em;
}
div.contact p {
  font-size: 1.5em;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: rgb(80, 80, 80);
}

/* mouse over link */
a:hover {
  color: rgb(42, 42, 42);
}

/* selected link */
a:active {
  color: rgb(0, 0, 0);
}

div.qualification {
  margin: 10px;
}

div.qualification h2 {
  margin: 10px;
  font-size: 1.4em;
  font-weight: normal;

  border-bottom: 1px solid rgb(83, 83, 83);
}

div.qualification li {
  margin-left: 2em;
  font-size: 1em;
}

span.dot {
  font-size: 1.5em;
}

@media screen and (max-width: 699px) {
  main {
    flex-direction: column;
  }
}
