main {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

section.info-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.cv-preview {
  display: flex;
  align-items: center;
}

div.cv {
  padding: 10px;
  margin: 20px;
  box-shadow: 0px 3px 10px rgb(133, 133, 133);
  font-family: "Times New Roman", Times, serif;

  width: 768px;
  height: 1056px;
}

h1.fullName {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
  line-height: 90%;
  margin-top: 10px;
}
div.contact {
  display: flex;
  gap: 1em;
  justify-content: center;

  font-style: italic;
  font-size: 0.7em;
}
div.contact p {
  font-size: 1.4em;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: rgb(80, 80, 80);
}

/* mouse over link */
a:hover {
  color: rgb(42, 42, 42);
}

/* selected link */
a:active {
  color: rgb(0, 0, 0);
}

div.qualification {
  margin: 10px;
}

div.qualification h2,
div.education h2 {
  margin: 10px;
  font-size: 1em;
  font-weight: 300;

  border-bottom: 1px solid rgb(83, 83, 83);
}

div.qualification li {
  margin-left: 2em;
  font-size: 1em;
}

span.dot {
  font-size: 1.5em;
}

@media screen and (max-width: 1600px) {
  main {
    flex-direction: column;
  }

  section.info-form {
    align-items: center;
  }

  section.cv-preview {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  section.cv-preview {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 600px) {
  section.cv-preview {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 500px) {
  main {
    gap: 0px;
  }

  section.info-form {
    transform: scale(0.8);
  }

  section.cv-preview {
    transform: scale(0.5);
  }
}

@media screen and (max-width: 420px) {
  section.info-form {
    transform: scale(0.7);
  }

  section.cv-preview {
    transform: scale(0.4);
  }
}
