@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

div.qualificationContainer {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 10px;
}

div.title {
  display: flex;
}

div.title img {
  width: 2em;
}
li {
  font-size: 1.3rem;
}
ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea {
  resize: none;
  width: 20em;
}
/* li input {
  width: 18.5em;
  margin-bottom: 10px;
  margin-top: 10px;
} */
