@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

div.qualificationContainer {
  margin: 10px;
}

div.title {
  display: flex;
}

div.title img {
  width: 2em;
}
li {
  font-size: 1.3rem;
}
ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea {
  resize: none;
  width: 20em;
}

button.qualityDeleteBtn {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  border: none;
  padding: 8px;
  font-size: 0.8em;
}
button.qualityDeleteBtn:hover {
  background-color: rgb(192, 57, 57);
  color: white;
}

button.qualityDeleteBtn:active,
button.addQualityBtn:active {
  transform: translateY(2px);
}

button.addQualityBtn {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  border: none;
  padding: 8px;
  font-size: 1em;
}

button.addQualityBtn:hover {
  background-color: rgb(44, 186, 44);
  color: white;
}

div.qualificationContainer.active form {
  display: flex;
}
div.qualificationContainer form {
  display: none;
}

div.qualificationContainer.active {
  padding: 2em;
  border: 1px dotted black;
  border-radius: 10px;
}
